.form-search {
  margin: 19px 19px 17px 19px;
}

.input-search {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  outline: none;

  font-family: Inter;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: center;
  color: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 522px) {
  .form-search {
    margin: 10px 8px 10px 8px;
  }
}
